# WA Worker environment variables
NODE_ENV=development
WA_WORKER_PORT=5000

API_INTERNAL_URL=http://api:4000

WA_WORKER_INTERNAL_TOKEN=dev-wa-worker-token
API_INTERNAL_TOKEN=dev-api-token

WHATSAPP_AUTH_DIR=.sessions
