APP_ENV=development
APP_NAME=ningki-ai-enggine
APP_PORT=8000

API_BASE_URL=http://localhost:3000
API_INTERNAL_TOKEN=change_me

GEMINI_API_KEY=change_me
GEMINI_MODEL=gemini-1.5-flash
GEMINI_EMBEDDING_MODEL=text-embedding-004

FAISS_INDEX_DIR=./app/storage/faiss
UPLOAD_TMP_DIR=./app/storage/tmp

REDIS_URL=redis://localhost:6379

LOG_LEVEL=info
